/* More Sugar Regular Font */
@font-face {
  font-family: "More Sugar";
  src: url("/fonts/MoreSugar-Regular.woff2") format("woff2"),
    url("/fonts/MoreSugar-Regular.woff") format("woff"),
    url("/fonts/MoreSugar-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
