/* More Sugar Font */
@font-face {
  font-family: "More Sugar";
  src: url("/fonts/MoreSugar-Regular.otf") format("opentype"),
    url("/fonts/MoreSugar-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
